grant principal com.acmeplex.movieticketreservation.security.UserPrincipal "testuser" {
    permission java.io.FilePermission "/sensitive-data/*", "read";
};
